/*------------reset style-------------*/
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{border: none;vertical-align: top;}
a,input{outline: none;}
i,em{font-style: normal;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight: 100;}
body{font-size:12px;}
.clear:after{content: "";display: none;height: 0;clear: both;visibility: hidden;}
.clear{zoom: 1;}